/* add styles */
div.section.okrs-container {
    padding: 0 64px 32px;
}

div.section.okrs-container p {
    font-size: var(--body-font-size-s);
}

#results {
  padding-top: 8px;
  font-size: var(--body-font-size-xs);
}

.hide {
    display: none;
}

.okrs input, .okrs select, .okrs textarea {
    width: 500px;
}

.okrs select#objective {
    width: 300px;
}

.okrs select#who, .okrs input#date {
    width: 200px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 500px;
}

.content label, .content input, .content select, .content textarea {
    font-size: var(--body-font-size-xs);
}

.collapsible::after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active::after {
    content: '\02796'; /* Unicode character for "minus" sign (-) */
}

.objective, .desc {
    font-size: var(--body-font-size-s);
}

.objective {
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: var(--body-font-size-xs);
}

.header {
    font-weight: bold;
    background-color: var(--highlight-background-color);
}

.odd {
    background-color: var(--overlay-background-color);
}

.progressborder {
    border: 1px solid #ccc;
    margin-bottom: 8px;
}

.progressbar {
    /* padding: 8px 16px; */
    height: 32px;
    background-color: #4CAF50;
    font-size: var(--body-font-size-xs);
}
